@using ogani_master.enums;
@using ogani_master.Extensions;

@model ogani_master.Models.Order;

@{
    ViewData["Title"] = "Orders";
    List<Order> orders = ViewBag.Orders;
}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Product List</h3>
                            </div>
                           
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_ID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Product.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PaymentMethod)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Order o in orders)
                                    {

                                        var statusEnum = (OrderStatus)o.Status;
                                        var statusClass = statusEnum.GetCssClass();

                                        <tr>
                                            <td>
                                                @o.ORD_ID
                                            </td>
                                            <td>
                                                @o.Product.Name
                                            </td>
                                            <td>
                                                @o.Quantity
                                            </td>
                                            <td>
                                               @o.TotalPrice
                                            </td>
                                            <td>
                                               @o.PaymentMethod
                                            </td>
                                            <td>
                                                @o.CreatedDate
                                            </td>
                                            <td class="@statusClass">
                                                @statusEnum
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Order" asp-action="DetailsPage" asp-route-uid="@o.ORD_ID" class="text-info ms-3">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                                <a asp-area="Admin" asp-controller="Order" asp-action="DeletePage" asp-route-uid="@o.ORD_ID" class="text-danger ms-3">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

