@model ogani_master.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<div class="app-content mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-info">
                    <div class="card-header">
                        <h4 class="card-title">Menu Details</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.Url)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Url)
                            </dd>
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.UpdatedDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.UpdatedDate)
                            </dd>
                            <dt class="col-sm-4 text-muted">
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-id="@Model?.MEN_ID" class="btn btn-warning">
                            <i class="fas fa-edit me-1"></i> Edit
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>