@model IEnumerable<ogani_master.Models.Menu>

@{
    ViewData["Title"] = "Index";
    var menuTitles = ViewBag.MenuTitles as Dictionary<int, string>;
}
<div class="app-content mt-3">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Menu List</h3>
                            </div>
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd" type="button" class="btn btn-success">
                                    <i class="fa fa-plus me-1"></i> Add New
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PARENT_ID)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Url)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CreatedBy)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedBy)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>

                                            <!-- Hiển thị tên menu cha -->
                                            <td>
                                                @if (item.PARENT_ID != null && menuTitles.ContainsKey(item.PARENT_ID.Value))
                                                {
                                                    @menuTitles[item.PARENT_ID.Value]
                                                    // Hiển thị tên menu cha từ menuTitles
                                                }
                                                else
                                                {
                                                    @("No Parent")
                                                    // Nếu không có parent menu, hiển thị "No Parent"
                                                }
                                            </td>
                                            <!-- Thêm data-attribute để chứa PARENT_ID -->

                                            <td class="text-wrap text-break" title="@item.Title">
                                                @if (!string.IsNullOrEmpty(item.Title))
                                                {
                                                    @if (item.Title.Length > 50)
                                                    {
                                                        @($"{item.Title.Substring(0, 50)}...")
                                                    }
                                                    else
                                                    {
                                                        @item.Title
                                                    }
                                                }
                                                else
                                                {
                                                    @("No Title")
                                                }
                                            </td>

                                            <td class="text-wrap text-break" title="@item.Url">
                                                @if (!string.IsNullOrEmpty(item.Url))
                                                {
                                                    @if (item.Url.Length > 50)
                                                    {
                                                        @($"{item.Url.Substring(0, 50)}...")
                                                    }
                                                    else
                                                    {
                                                        @item.Url
                                                    }
                                                }
                                                else
                                                {
                                                    @("No URL")
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UpdatedBy)</td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.MEN_ID">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.MEN_ID" class="text-info ms-3">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.MEN_ID" class="text-danger ms-3">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Row-->
    </div>
</div>
