@{
    ViewData["tittle"] = "Dashboard";
    var userBehaviorSummaries = ViewBag.userBehaviorSummaries as List<dynamic>;
    DatabaseSizeInfo databaseSizeInfo = ViewBag.databaseSizeInfo;
}

@section Styles {
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/Admin/css/Dashboard.css" rel="stylesheet" />
}


<div class="wrapper ">
    <div style="background: #f4f3ef;" class="">
        <div class="content mt-0">
            <div class="row mt-4">
                <div class="col-lg-3 col-md-6 col-sm-6 position-relative tooltip-view">
                    <ul class="position-absolute d-none tooltip-view-detail">
                        @foreach (DatabaseSizeViewModel databaseSizeViewModel in @databaseSizeInfo.tableSizes)
                        {
                            <li class="text-white">
                                <i class="fa-regular fa-database"></i>
                                <span>@databaseSizeViewModel.TableName - @databaseSizeViewModel.Capacity GB</span>
                            </li>
                        }
                    </ul>
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4 d-flex justify-content-center align-items-center">
                                    <div class="icon-big text-center icon-warning">
                                        <i style="font-size: 36px; color: orange" class="fa-duotone fa-regular fa-globe"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Capacity</p>
                                        <p class="card-title">@databaseSizeInfo.Capacity GB<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>
                                Update Now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4 d-flex justify-content-center align-items-center">
                                    <div class="icon-big text-center icon-warning">
                                        <i style="font-size: 30px; color: green" class="fa-sharp-duotone fa-solid fa-money-check-dollar"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Revenue</p>
                                        <p class="card-title">$ 1,345<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i>
                                Last day
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4 d-flex justify-content-center align-items-center">
                                    <div class="icon-big text-center icon-warning">
                                        <i style="font-size: 30px; color: red" class="fa-regular fa-users-slash"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Errors</p>
                                        <p class="card-title">23<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>
                                In the last hour
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4 d-flex justify-content-center align-items-center">
                                    <div class="icon-big text-center icon-warning ">
                                        <i style="font-size: 30px; color: aqua" class="fa-regular fa-user-secret"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Followers</p>
                                        <p class="card-title">+45K<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>
                                Update now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">Users Behavior</h5>
                            <p class="card-category">24 Hours performance</p>
                        </div>
                        <div class="card-body ">
                            <canvas id=userBehaviorChart width="400" height="100"></canvas>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/chartjs.min.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/demo.js"></script>

    <script>
        const userBehaviorData = @Html.Raw(Json.Serialize(@userBehaviorSummaries ?? []));

        const labels = userBehaviorData.map(data => `${data.Hour}:00`);
        const counts = userBehaviorData.map(data => data.Count);

        const ctx = document.getElementById('userBehaviorChart').getContext('2d');
        const userBehaviorChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels, 
                datasets: [{
                    label: 'User Actions (Last 24 Hours)',
                    data: counts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}