@model IEnumerable<ogani_master.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3 class="card-title">Product List</h3>
                            </div>
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd"
                                   type="button"
                                   class="btn btn-success">
                                    <i class="fa-light fa-add me-1"></i> Add Product
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="tbl" class="table">
                                <thead>
                                    <tr>
                                        <th>Avatar</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Discount Price</th>
                                        <th>Rate</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@Url.Content("~/data/product/" + item.Avatar)"
                                                     style="max-width: 100px; max-height: 100px; border: 1px solid #ddd;" />
                                            </td>
                                            <td class="text-wrap text-break" title="@item.Name">
                                                @if (!string.IsNullOrEmpty(item.Name))
                                                {
                                                    @if (item.Name.Length > 50)
                                                    {
                                                        @($"{item.Name.Substring(0, 50)}...")
                                                    }
                                                    else
                                                    {
                                                        @item.Name
                                                    }
                                                }
                                                else
                                                {
                                                    <i>No Name</i>
                                                }
                                            </td>
                                            <td>
                                                @String.Format("{0:N0}", item.Price)
                                            </td>
                                            <td>
                                                @String.Format("{0:N0}", item.DiscountPrice)
                                            </td>
                                            <td>
                                                @item.Rate
                                            </td>
                                            <td>
                                                @(item.CreatedBy ?? "Không rõ")
                                            </td>
                                            <td>
                                                @(item.UpdatedBy ?? "Chưa cập nhật")
                                            </td>
                                            <td>
                                                <div>
                                                    <a asp-action="Edit" asp-route-id="@item.PRO_ID">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a asp-action="Details" asp-route-id="@item.PRO_ID" class="text-info ms-3">
                                                        <i class="fas fa-info-circle"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@item.PRO_ID" class="text-danger ms-3">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <script>
                                window.onload = () => {
                                    document.getElementById("Avatar").onchange = (e) => {
                                        var preview = document.getElementById('imgPreview');
                                        var file = e.target.files[0];
                                        var reader = new FileReader();

                                        reader.onloadend = function () {
                                            preview.src = reader.result;
                                        }

                                        if (file) {
                                            reader.readAsDataURL(file);
                                        } else {
                                            preview.src = '';
                                        }
                                    };
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
